@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
	background-color: rgb(18, 16, 32);
	font-family: "JetBrains Mono", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
	font-size: 100px;
}

h2 {
	font-size: 30px;
}

body {
	height: 100vh;
	display: flex;
	text-align: center;
	color: rgb(255, 255, 255);
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

div {
	display: flex;
	justify-content: center;
}


.button-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
	padding: 12px 24px;
	margin: 0 20% 0 20%;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 1.2rem;
	padding: 12px 24px;
	border-radius: 8px;
	transition: transform 0.2s, box-shadow 0.2s;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	display: inline-block;
	font-weight: bold;
	text-align: center;
	border: none;
	white-space: nowrap;
}

/* Specific styles for each button */
.horse {
	background-color: #1f8244;
}

.itch {
	background-color: #fa756b;
}

.leetcode {
	background-color: #f89f1b;
}

.codeforces {
	background-color: #1f8acb;
}

.twitch {
	background-color: #9147ff;
}

.youtube {
	background-color: #f71402;
}

.github {
	background-color: #000000;
}

.kofi {
	background-color: #72a4f2;
}

.kofi img {
	width: 24px;
}

/* Hover effects */
a:hover {
	transform: translateY(-3px);
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

/* Active effects */
a:active {
	transform: translateY(0);
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
