@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
	font-size: 20px;
	background-color: rgb(18, 16, 32);
	color: white;
	font-family: "JetBrains Mono", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
}

#goto {
	margin: 15px 0 15px 0;
}

button {
	font-family: "JetBrains Mono", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	font-size: 1.2rem;
	padding: 12px 24px;
	margin: 10px 10px 10px 10px;
	border-radius: 8px;
	transition: transform 0.2s, box-shadow 0.2s;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	display: inline-block;
	font-weight: bold;
	text-align: center;
	border: none;
}

button:hover {
	transform: translateY(-3px);
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

/* Active effects */
button:active {
	transform: translateY(0);
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#check {
	background-color: #1f8acb;
}

#check.back {
	background-color: #333333;
}

#res_text {
	margin-left: 20px;
}

#res_redirect {
	background-color: #00df3f;
	display: none;
}

input {
	font-size: 40px;
}
